/storage/uploads/student-data
/storage/uploads/debugbar
/storage/uploads/student-images
/storage/uploads/student-images-cache
/storage/pdf
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.phpstorm.meta.php
_ide_helper.php
.idea
/docs
