/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url(https://fonts.gstatic.com/s/oswald/v11/l1cOQ90roY9yC7voEhngDBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url(https://fonts.gstatic.com/s/oswald/v11/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(https://fonts.gstatic.com/s/oswald/v11/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(https://fonts.gstatic.com/s/oswald/v11/pEobIV_lL25TKBpqVI_a2w.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local("Oswald Bold"), local("Oswald-Bold"), url(https://fonts.gstatic.com/s/oswald/v11/dI-qzxlKVQA6TUC5RKSb3xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local("Oswald Bold"), local("Oswald-Bold"), url(https://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

.navbar.navbar-inverse {
  padding-top: 8px;
  padding-bottom: 7px;
  text-align: left;
  font-size: 0px; }

.navbar-toggle {
  margin: 0px 0px 0px 15px;
  display: inline-block;
  float: none; }

.navbar-school-name {
  display: inline-block;
  color: #9d9d9d;
  font-size: 18px;
  line-height: 20px;
  word-wrap: break-word;
  padding: 7px 15px 7px 15px; }
  .navbar-school-name:hover, .navbar-school-name:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: none; }

.flash-message {
  background-color: #99c93d;
  display: inline-block;
  padding: 12px 30px;
  color: #fff;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
  line-height: 1.6em;
  font-family: Lato, sans-serif;
  display: none;
  z-index: 9998; }

.flash-message .material-icons {
  margin-right: 8px;
  vertical-align: middle; }

.help-block {
  margin-bottom: 0px;
  color: #f00; }

label.required:after {
  content: " *";
  color: red; }

@media (max-width: 350px) {
  .help-block {
    margin-top: 1px;
    font-size: 12px; } }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.9;
  display: none;
  background: url("/images/page-loader.gif") 50% 50% no-repeat #fff; }

a.selected {
  color: #555;
  background-color: #f5f5f5; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.nav-footer {
  border-width: 0px;
  border-radius: 0px; }

@media (max-width: 767px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px; } }

.form-horizontal .checkbox.header-active-checkbox {
  padding: 0px;
  margin: 27px 0px 0px 0px; }

.button-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-bottom: 2px; }

.next-prev-date-container {
  display: inline-block;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px; }

.checkbox label {
  padding-left: 20px; }

.form-group.has-error .input-group.date .input-group-btn .btn {
  border-color: #a94442; }

.edit_form_wrapper label.radio-inline {
  padding-left: 20px; }

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 290px; }

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 305px;
  width: 0;
  height: 100%;
  margin-left: -290px;
  overflow-y: auto;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 290px; }

#page-content-wrapper {
  width: auto !important;
  position: absolute; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -290px; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 290px;
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 290px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 290px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #page-content-wrapper {
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

.active-exam {
  text-decoration: underline; }

.dropdown-menu {
  max-height: 290px;
  overflow-y: scroll; }

.dropdown-menu > li > a {
  color: #98978b;
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #98978b;
  background-color: #f8f5f0; }

.chart-dot-circle {
  content: '';
  height: 12px;
  width: 12px;
  margin-right: 6px;
  display: inline-block;
  background: #222;
  border-radius: 50%; }

.chart-dot-list {
  display: block;
  margin-top: 60px;
  margin-left: 20px; }

.chart-dot-list li {
  margin-bottom: 4px; }

.chart-doughnut {
  padding: 41px 0; }

.img-thumbnail-container {
  display: inline-block; }

.img-thumbnail {
  text-align: center;
  display: block;
  background-color: #29d08a;
  padding: 0px;
  margin-bottom: 20px;
  border: solid 10px #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative; }

.helper-img {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.img-thumbnail img {
  vertical-align: middle; }

.page-title {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0; }

.dashboard {
  font-size: 14px; }
  .dashboard .panel-info > .panel-heading {
    background-color: #29abe0;
    border-color: #bce8f1; }
  .dashboard .panel .panel-heading,
  .dashboard .panel .panel-title,
  .dashboard .panel .panel-footer {
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff; }
  .dashboard .panel a.panel-footer {
    color: #98978b;
    text-decoration: none; }
    .dashboard .panel a.panel-footer:hover, .dashboard .panel a.panel-footer:focus, .dashboard .panel a.panel-footer:active {
      text-decoration: none; }
  .dashboard .panel-default .panel-footer {
    color: #98978b; }
  .dashboard.square-boxes .panel-body {
    height: 200px; }
  .dashboard.square-boxes .stat-panel {
    margin-top: 50px; }
  .dashboard .btn {
    border: none;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding: 12px 16px; }
  .dashboard .btn-info {
    color: #ffffff;
    background-color: #29abe0; }
    .dashboard .btn-info.active {
      background-image: none;
      color: #ffffff;
      background-color: #1b8dbb;
      border-color: transparent;
      outline: 0;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .dashboard .btn-info:hover {
      color: #ffffff;
      background-color: #1b8dbb; }
  .dashboard .btn-primary {
    color: #ffffff;
    background-color: #325d88; }
  .dashboard .bk-success {
    background: #93c54b; }
  .dashboard .bk-warning {
    background: #f47c3c; }
  .dashboard .bk-danger {
    background: #d9534f; }
  .dashboard .bk-info {
    background: #29abe0; }
  .dashboard .bk-brand {
    background: #0b71b5; }
  .dashboard .text-light {
    color: #fff !important; }
  .dashboard .block-anchor {
    display: block; }
  .dashboard ul,
  .dashboard li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .dashboard .btn {
    text-transform: none; }
  .dashboard .btn-social > :first-child {
    width: 42px;
    line-height: 46px; }
  .dashboard .btn-social {
    padding-left: 58px; }
  .dashboard .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429; }
  .dashboard .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33; }
  .dashboard .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33; }

.dashboard.square-boxes .home-events .events-text {
  font-size: 25px; }

.dashboard.square-boxes .home-events.stat-panel {
  margin-top: 0px; }

.dashboard.square-boxes .home-events-panel {
  max-height: 305px; }
  .dashboard.square-boxes .home-events-panel.panel-body {
    height: initial; }
    .dashboard.square-boxes .home-events-panel.panel-body .pagination {
      margin-top: 15px;
      margin-bottom: 0px; }
      .dashboard.square-boxes .home-events-panel.panel-body .pagination a {
        margin: 0px;
        margin-right: 5px;
        font-size: 14px;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        color: #fff;
        background-color: #0B71B5;
        text-decoration: none; }
        .dashboard.square-boxes .home-events-panel.panel-body .pagination a:hover {
          text-decoration: underline; }
      .dashboard.square-boxes .home-events-panel.panel-body .pagination li.active a {
        background-color: #0B71B5;
        text-decoration: underline; }

.sch_class .panel-heading {
  display: inline-block;
  width: 100%; }

.sch_class .panel-heading h3 {
  float: left;
  margin: 3px 0 0; }

.sch_class .panel-heading i.glyphicon {
  float: left;
  font-size: 21px;
  margin: 3px 12px 0 0; }

.sch_class table.table th::before, .sch_class table.table th::after {
  display: none !important; }

.sch_class .sorting-icon.glyphicon {
  font-size: 12px; }

.sch_class .panel.panel-primary {
  border: medium none;
  box-shadow: none; }

.sch_class .panel-body {
  padding: 10px 0 0; }

.edit_form_wrapper label {
  font-weight: normal;
  text-align: left !important;
  padding-left: 8%; }

.bg-col-grey {
  background-color: #f9f9f9;
  padding-bottom: 10px;
  padding-top: 10px; }

.sch_class.panel-bdr .panel.panel-primary {
  border: 1px solid #337ab7; }

.sch_class.panel-bdr .form_panel {
  width: 80%;
  margin: 0 auto;
  display: block; }

/*# sourceMappingURL=layout.css.map */
@media (max-width: 767px) {
  .mobile-grid-screen #wrapper {
    margin-left: -15px;
    margin-right: -15px; }
  .mobile-grid-screen #page-content-wrapper {
    width: 100% !important; }
  .mobile-grid-screen .sidebar-nav {
    padding-right: 20px !important; }
  #mobile-panel {
    margin-left: -15px;
    margin-right: -15px; }
    #mobile-panel .panel-heading {
      padding-top: 0px; }
    #mobile-panel .panel-body {
      padding: 0px; }
    #mobile-panel .panel {
      border: 0px; }
  .inbox-compose .panel-body .row {
    margin: 0px; } }

.panel-header-text {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px; }

.divider-line {
  height: 1px;
  border-bottom: 1px solid #f1f1f1; }

.search-box {
  height: 46px;
  position: relative;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #f1f1f1; }
  .search-box .search-submit {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    width: 34px;
    height: 44px;
    margin: 0px;
    border: 0px;
    background-color: #fff;
    display: block;
    z-index: 101;
    color: #757575; }
  .search-box .search-input {
    position: absolute;
    top: 6px;
    left: 35px;
    border: 1px solid #f1f1f1 !important;
    border-radius: 0px !important;
    font-size: 17px;
    display: block;
    height: 34px;
    z-index: 10;
    width: 250px;
    border: 0px;
    box-shadow: none;
    color: #b8b8b8; }

.inbox-list .inbox-row {
  padding: 0px;
  height: 79px;
  border-bottom: 1px solid #f1f1f1;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  word-wrap: break-word;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 100; }
  .inbox-list .inbox-row:hover {
    background-color: #f3f3f3; }
  .inbox-list .inbox-row .select-circle {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 79px;
    width: 35px;
    text-align: center;
    z-index: 200;
    font-size: 17px;
    cursor: default; }
    .inbox-list .inbox-row .select-circle span {
      cursor: pointer; }
      .inbox-list .inbox-row .select-circle span:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
    .inbox-list .inbox-row .select-circle .fa {
      color: #089de3; }
  .inbox-list .inbox-row .details-arrow {
    position: absolute;
    top: 22px;
    right: 25px;
    font-size: 25px;
    cursor: default; }
    .inbox-list .inbox-row .details-arrow span {
      cursor: pointer; }
    .inbox-list .inbox-row .details-arrow .fa {
      color: #777; }
      .inbox-list .inbox-row .details-arrow .fa:hover {
        color: #ff002a; }
  .inbox-list .inbox-row .message-sender {
    position: absolute;
    top: 17px;
    left: 35px;
    color: #060606;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%; }
  .inbox-list .inbox-row .message-subject {
    position: absolute;
    top: 45px;
    left: 35px;
    font-size: 13px;
    line-height: 17px;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%; }
  .inbox-list .inbox-row .message-date {
    position: absolute;
    top: 21px;
    right: 47px;
    color: #777;
    font-size: 12px; }
  .inbox-list .inbox-row.unread .message-sender,
  .inbox-list .inbox-row.unread .message-subject {
    font-weight: bold; }

.preloader-scroll {
  text-align: center;
  padding: 6px 4px 4px 4px; }

#inbox-options {
  display: none;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  z-index: 1000; }
  #inbox-options .btn {
    color: #331;
    margin-top: 3px; }
  #inbox-options .btn.pull-right {
    margin-right: 10px; }

.selected-message-count {
  color: #331;
  background-color: #fff;
  height: 30px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid #f1f1f1;
  text-align: center;
  line-height: 30px;
  font-size: 12px; }

.inbox-compose #mobile-panel {
  max-width: 900px; }

.new-message {
  float: right;
  margin-top: -5px;
  margin-right: 5px; }

.compose-buttons {
  text-align: center;
  background-color: #f4f4f4;
  height: 44px;
  padding: 5px 0px; }
  .compose-buttons .close-btn {
    height: 34px;
    margin-left: 15px; }
  .compose-buttons .send-btn {
    height: 34px;
    margin-right: 15px; }
  .compose-buttons .compose-text {
    height: 34px;
    display: inline-block;
    line-height: 34px;
    font-size: 19px;
    font-weight: bold;
    text-align: center; }

.cc-field,
.bcc-field,
.to-field,
.subject-field,
.message-field {
  padding: 10px 15px;
  border-bottom: 1px solid #efefef; }

.subject-input,
.message-input {
  border-radius: 0px;
  background-color: #fff;
  border-color: #f1f1f1;
  box-shadow: none; }

.cc-field .dropdown-menu,
.bcc-field .dropdown-menu,
.to-field .dropdown-menu {
  max-width: 250px;
  overflow-y: scroll;
  max-height: 290px; }

.cc-field li,
.bcc-field li,
.to-field li {
  color: #98978b;
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .cc-field li:hover,
  .bcc-field li:hover,
  .to-field li:hover {
    text-decoration: none;
    color: #98978b;
    background-color: #f8f5f0;
    cursor: pointer; }

.to-email {
  margin-right: 5px;
  border: 1px solid #f1f1f1;
  margin-top: 5px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 0px; }
  .to-email .to-name {
    border-right: 1px solid #f1f1f1;
    padding: 0px 5px;
    float: left;
    font-size: 12px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .to-email .to-remove {
    padding: 0px 5px;
    float: left;
    font-size: 8px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center; }
    .to-email .to-remove:hover {
      background-color: #f4f4f4;
      color: #ff002a;
      cursor: pointer; }

.inbox-detail-screen .email-text {
  padding: 35px; }

.inbox-detail-screen .panel-body .row {
  margin: 0px; }

.inbox-detail-screen .compose-buttons {
  text-align: left;
  padding-left: 15px; }

.inbox-detail-screen #inbox-form {
  max-width: 800px; }

#help-search-box {
  width: 300px;
  margin-left: 20px; }

.highlight {
  background-color: #FFFF88; }

.help-screen-name {
  margin-top: 0px;
  display: inline-block; }

iframe {
  border: none; }

.dynamic-filter-label {
  width: 200px;
  float: left;
  margin-bottom: 10px;
  height: 34px;
  line-height: 34px;
  text-align: right;
  padding-right: 15px; }

.dynamic-filter-item {
  margin-bottom: 10px;
  width: 250px;
  float: left; }

body {
  padding: 0px; }

/*# sourceMappingURL=elixir.css.map */
