.flash-message {
    background-color: #99c93d;
    display: inline-block;
    padding: 12px 30px;
    color: #fff;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
    line-height: 1.6em;
    font-family: Lato, sans-serif;
    display: none;
    z-index: 9998;
}

.flash-message .material-icons {
    margin-right: 8px;
    vertical-align: middle;
}
