#inbox-panel {
    .panel-body {
        padding: 0px;
    }
    .panel {
        border: 0px;
    }
    margin-left: -15px;
    margin-right: -15px;
}

.panel-header-text {
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.search-box {
    width: 265px;
    .search-submit {
        font-size: 16px;
        width: 34px;
        height: 34px;
        margin: 0px;
        border: 0px;
        background-color: #fff;
        display: inline-block;
        float: left;
    }
    .search-input {
        display: inline-block;
        width: 225px;
        float: right;
    }
}

.inbox-list {
    .inbox-row {
        padding: 5px 6px 4px 6px;
        height: 79px;
        background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAQAAADYv8WvAAAAEElEQVR4AWP4D4QMDGoMagAQkgJLtGgMhgAAAABJRU5ErkJggg==) repeat-x bottom;
        background-size: 1px 1px;
        font-family: Helvetica, Arial, sans-serif;
        white-space: nowrap;
        word-wrap: break-word;

        .message-sender {
            color: #060606;
            font-size: 17px;
            font-weight: 300;
            line-height: 24px;
            height: 24px;
        }

        .message-subject {
            font-size: 13px;
            line-height: 17px;
        }

        // &:hover {
        //     cursor: pointer;
        // }
        &.unread {
            .message-sender {
                font-weight: bold;
            }
        }
        // &.selected {
        //     background-color: #f5f5f5;
        // }
    }
}

.select-circle {
    cursor: default;
    span {
        cursor: pointer;
    }
    .fa {
        color: #089de3;
    }
}

