.inbox-detail-screen,
.parents-grid {
    .inbox-list {
        .inbox-row {

            &.header-row {
                padding:0px;
                min-height: 30px;
                .message-date {
                    top: 7px;
                }
            }

            white-space: initial;
            word-wrap: initial;

            padding: 17px 35px;
            height: initial;
            min-height: 79px;

            .grid-sender {
                font-size: 17px;
                font-weight: 300;
                color: #060606;
            }
            .grid-subject {
                font-size: 13px;
                line-height: 17px;
                color: #777;
            }
            .grid-text {

            }
        }
    }
}

@media (max-width: 450px) {
    .my-payments,
    .my-attendance {
        .grid-sender {
            margin-top: 25px;
        }
    }
}
