// general styles

@import 'colors';
@import 'fonts';
@import 'header';
@import 'flash-message';
@import 'validation';
@import 'upload-button';
@import 'preloader';
@import 'forms';
@import 'simple-sidebar';
@import 'dashboard';
@import 'events-box';

// todo: refactor
@import 'layout';

// screen specific styles
@import 'inbox';
@import 'help';
@import 'dynamic-grid';
@import 'parents-grid';

body {
    padding: 0px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
// @media (max-width: 500px) {
// }

